@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you very much for confirming your email. Now you can log in to access the system.
    </p>
</div>


